<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title><%= @title %></title>
        <link rel="stylesheet/css" type="text/css" href="css/screen.css">
    </head>
    <body id="<%= @id %>">
        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <div id="wrapper">
            <header class="container">
                <div class="row">
                    <div class="span12">

                    </div>
                </div>
            </header>
            <article class="container">
                <%= yield %>
            </article>
            <div class="push"></div>
        </div>
        <footer class="container">
            <div class="row">
                <div class="span12">
                    
                </div>
            </div>
        </footer>
    </body>
    <script type="text/javascript" src="js/less-1.3.0.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- <script src="js/jquery-1.7.2.min.js"></script> -->
    <!-- <script src="js/site.js"></script> -->
</html>