// Привязка подвала к низу страницы
// ==========================================================================
@footer-height: 72px;
html {
	overflow-y: scroll;
}
html, body {
	height: 100%;
	position: relative;
}
footer {
	height: @footer-height;
	hr {
		margin-bottom: 10px;
	}
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footer-height;
}
.push {
	height: @footer-height;
}
// Классы для упрощения верстки
// ==========================================================================
.w-20 { width: 20px; }
.vat { vertical-align: top; }
.vam { vertical-align: middle; }
.mr { margin-right: 30px; }
.mr-15 { margin-right: 15px; }
.mr-10 { margin-right: 10px; }
.ml { margin-left: 30px; }
.ml-25 { margin-left: 25px; }
.ml-15 { margin-left: 15px; }
.ml-10 { margin-left: 10px; }
.mb { margin-bottom: 30px; }
.mb-15 { margin-bottom: 15px; }
.mb-10 { margin-bottom: 10px; }
.mb-5 { margin-bottom: 5px; }
.mt { margin-top: 30px; }
.mt-15 { margin-top: 15px; }
.b { display: block !important; }
.ib { display: inline-block !important; }
.it { display: inline-table !important; } // ie8+
.i { display: inline !important; }
.strong { font-weight: bold; }
.small { font-size: 11px; }
// Перебитые правила бутстрапа
// ==========================================================================

// Оригинальные элементы
// ==========================================================================
